a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size: 16px;
}

a {
  cursor: pointer;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.navbar-nav {
  align-items: center;
}
.navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 999;
}

.navbar-background {
  /*background-color: rgba(256, 256, 256, 0.5);*/
  background-color: #000000;
  position: fixed;
}

.collapse.navbar-collapse a,
.collapse.navbar-collapse .nav-item svg,
.collapse.navbar-collapse a.gofundme-social svg > g {
  fill: #000000;
  color: #000000;
  font-weight: 600;
}

.collapse.navbar-collapse a:hover,
.collapse.navbar-collapse .nav-item svg:hover,
.collapse.navbar-collapse a.gofundme-social svg > g:hover {
  fill: #1890af !important;
  color: #1890af !important;
}

.chose-bouquet-btn-nav {
  border: 2px solid #f97068;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  color: #21486d !important;
  font-weight: normal;
}

@media (max-width: 575px) {
  .collapse.navbar-collapse ul {
    background-color: #ffffff;
    margin-top: 8px;
  }
}

@media (min-width: 576px) {
  nav.navbar-background .collapse.navbar-collapse a,
  nav.navbar-background .collapse.navbar-collapse .nav-item svg,
  nav.navbar-background .collapse.navbar-collapse a.gofundme-social svg > g {
    color: #ffffff !important;
    fill: #ffffff !important;
  }

  nav.navbar-background a.gofundme-social svg > g {
    fill: #ffffff;
  }
}

.social {
  margin: 0 5px;
}

.nav-item svg {
  height: 25px;
  color: gray;
}

nav.navbar-background .navbar-toggler {
  border-color: #ffffff;
}

.navbar-expand-sm .navbar-collapse {
  justify-content: space-between;
}
div.flex-sm-row-reverse {
  flex-direction: row !important;
}

@media (max-width: 575px) {
  .navbar-expand-sm > .container {
    justify-content: flex-end;
  }
  div.navbar-collapse {
    display: flex;
    flex-direction: column !important;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding-bottom: 20px;
    margin-top: 3px;
  }
  a.navbar-brand {
    margin-right: 0;
  }
  .mr-2.navbar-toggler {
    margin: 0;
  }
}
